body {
  font-family: Arial;
  margin: 40px;
  background: #f5f5f5;
}

h1 {
  color: #2c3e50;
}

h2 {
  color: #34495e;
}

a {
  background: black;
  color: white;
  padding: 10px;
  text-decoration: none;
}
